<%- include('includes/head.ejs') %>
  <body>
    <%- include('includes/navigation.ejs') %>

    <main>
      <% if (results.length > 0) { %>
        <% for (let result of results) { %>
          <article>
           <table class="card product-item" cellpadding="5">
              <tr>
                <td width="13%" align="center"><%= result.date %></td>
                <td><%= result.teams %> </td>
                <td width="50%" align="center"><font size="6"><%= result.score %> </font></td>
                <td>
                  <form action="/add-result" method="POST">
                    <button class="btn" type="submit">Edit</button>
                    <input type="hidden" name="productId" value="" />
                  </form>
                </td>
                <td>
                  <form action="/add-result" method="POST">
                    <button class="btn" type="submit">Delete</button>
                    <input type="hidden" name="productId" value="" />
                  </form>
                </td>
              </tr>
            </table>
          </article>
        <% } %> 
      <% } else { %>
        <h1 align="center">Any results!</h1>
      <% } %> 
    </main>
  </body>
</html>